<ul class="dropdown-menu" style="max-height: 80dvh; overflow-y: auto; overflow-x: hidden;">
    <li><h6 class="dropdown-header">Notifications</h6></li>
    {% set set_header = namespace(new=true, old=true) %}
    {% for notifications in user.notification|reverse %}
        {% if notifications.status %}
            {% if set_header.new == true %}
                <li><h6 class="dropdown-header">New</h6></li>
                {% set set_header.new = false %}
            {% endif %}
            {% for object in notifications.notification_object %}
                {% if object.entity_type == 1 %}
                    <li>
                        <a class="dropdown-item" style="font-size:90%" href={{ url_for('profile.open_profile', username=object.entity.username) }}>
                            User <b>{{object.entity.username}}</b> has added a new post
                            <p class="text-secondary mb-0 mt-1 text-end" style="font-size:80%">{{moment(notifications.date).fromNow()}}</p>
                        </a>
                    </li>
                {% elif object.entity_type == 2 %}
                    <li>
                        <a class="dropdown-item" style="font-size:90%">
                            User <b>{{object.entity.username}}</b> has commented on your post
                            <p class="text-secondary mb-0 mt-1 text-end" style="font-size:80%">{{moment(notifications.date).fromNow()}}</p>
                        </a>
                    </li>
                {% elif object.entity_type == 3 %}
                    <li>
                        <a class="dropdown-item" style="font-size:90%">
                            User <b>{{object.entity.username}}</b> has followed you
                            <p class="text-secondary mb-0 mt-1 text-end" style="font-size:80%">{{moment(notifications.date).fromNow()}}</p>
                        </a>
                    </li>
                {% endif %}
            {% endfor %}
        {% endif %}
    {% endfor %}
    {% for notifications in user.notification|reverse %}
        {% if notifications.status == False %}
            {% if set_header.old == true and set_header.new == false %}
                <li><h6 class="dropdown-header">Older</h6></li>
                {% set set_header.old = false %}
            {% endif %}
            {% for object in notifications.notification_object %}
                {% if object.entity_type == 1 %}
                    <li>
                        <a class="dropdown-item" style="font-size:90%" href={{ url_for('profile.open_profile', username=object.entity.username) }}>
                            User <b>{{object.entity.username}}</b> has added a new post
                            <p class="text-secondary mb-0 mt-1 text-end" style="font-size:80%">{{moment(notifications.date).fromNow()}}</p>
                        </a>
                    </li>
                {% elif object.entity_type == 2 %}
                    <li>
                        <a class="dropdown-item" style="font-size:90%">
                            User <b>{{object.entity.username}}</b> has commented on your post
                            <p class="text-secondary mb-0 mt-1 text-end" style="font-size:80%">{{moment(notifications.date).fromNow()}}</p>
                        </a>
                    </li>
                {% elif object.entity_type == 3 %}
                    <li>
                        <a class="dropdown-item" style="font-size:90%">
                            User <b>{{object.entity.username}}</b> has followed you
                            <p class="text-secondary mb-0 mt-1 text-end" style="font-size:80%">{{moment(notifications.date).fromNow()}}</p>
                        </a>
                    </li>
                {% endif %}
            {% endfor %}
        {% endif %}
    {% endfor %}
</ul>